<div class="my-3 card secondary-shadow p-5  ">
    <div class="text-center"><img src='../../../../assets/images/Product-images/{{CartProduct.product.productImages}}' style="width: 150px;"/></div>
    <h1>{{CartProduct.product.name}}</h1>
    <p>قبل :   <del>{{CartProduct.product.price}}</del></p>
    <p>بعد :   <strong>{{CartProduct.product.price-(CartProduct.product.price*(CartProduct.product.discount/100))}}</strong></p>
    <strong>الاجمالى : {{(CartProduct.product.price-(CartProduct.product.price*(CartProduct.product.discount/100)))*CartProduct.Quantity}}</strong>
    
    <input class="form-control" type="number" [value]="CartProduct.Quantity" #QuantityInput (change)="HandelQuantityChange(QuantityInput.value)"/>
    <span class="btn-remove text-light bg-danger" (click)="HandelCancel()">X</span>
</div>
