<div class="container" *ngIf="updatedForm">
    <form  [formGroup]="updatedForm" (ngSubmit)="onupdated()">   
       <div class="form-group mb-2">
         <label  class="form-label">الأسم</label>
         <input   type="text"  formControlName="subCategoryName" class="form-control"> 
       </div>
       <div class="form-group mb-2">
           <label  class="form-label">الصورة</label>
            <input type="file" class="form-control" name="image" (change)="onFileSelect($event)" />
         </div>
         <div>
           <button type="submit" class="btn btn-success"  >تعديل</button>
         </div>
     </form>
</div> 
